.app {
  background-color: #99d6bd;
  height: 100vh;
  display: flex;
  flex-direction: column;
  /* min device - iphone 5 */
  min-width: 320px;
  min-height: 320px;
}

.app__header {
  display: flex;
  justify-content: center;
  align-items: baseline;
  position: absolute;
  left: 15px;
}

.app__reset-button {
  height: 100%;
  margin-left: 10px;
  cursor: pointer;
}

.app__game-over {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 72px;
  height: 100%;
  color: #ffffff;
}

.app__game-over-main {
  background: #3948d9;
  padding: 20px 10px 0 10px;
  margin-left: 15px;
}

/* task does not requires mobile but I want to add it to 100% complete app */
@media screen and (max-width: 600px), screen and (max-height: 450px) {
  .app__game-over {
    font-size: 36px;
  }

  .app__header {
    font-size: 10px;
  }

  .app__game-over-main {
    padding: 15px 10px 0 10px;
    margin-left: 10px;
  }
}

@media screen and (max-width: 350px), screen and (max-height: 350px) {
  .app__game-over {
    font-size: 24px;
  }

  .app__header {
    font-size: 7px;
  }

  .app__game-over-main {
    padding: 10px 10px 0 10px;
    margin-left: 5px;
  }
}
