.card {
  display: flex;
  width: 100px;
  height: 150px;
  position: relative;
  user-select: none;
  transform-style: preserve-3d;
}

.card--guessed {
  box-sizing: border-box;
  border: 5px dashed #000000;
}

.card__part {
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10%;
  transform-style: preserve-3d;
  transition: transform ease 500ms;
  backface-visibility: hidden;
}

.card__part--front {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}

.card__part--front:before,
.card__part--front:after {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  content: "CDG";
  font-size: 7px;
  color: white;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background: #3948d9;
}

.card__part--front:before {
  top: 5px;
  left: 5px;
}

.card__part--front:after {
  bottom: 5px;
  right: 5px;
}

.card__part--back {
  box-sizing: border-box;
  border: 5px solid #ffffff;
  background-color: #70aefd;
}

.card__part--back:before {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  content: "CDG";
  font-size: 12px;
  color: white;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #3948d9;
  left: 20px;
  top: 45px;
}

.card__part--front,
.card__part--back {
  cursor: pointer;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.card--opened .card__part--front {
  transform: rotateY(0deg);
}

.card--opened .card__part--back {
  transform: rotateY(180deg);
}

.card--closed .card__part--front {
  transform: rotateY(-180deg);
}

.card--closed .card__part--back {
  transform: rotateY(0deg);
}

.card--guessed .card__part {
  transform: translate(9999px, 0);
  /*visibility: hidden;*/
  transition: transform ease 5000ms;
}

.card__content {
  height: 90px;
  width: 60px;
  overflow: auto;
  pointer-events: none;
}
